python : INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
At line:1 char:1
+ python -m alembic upgrade --sql head > .\tmp\upgrade_preview_after_fi ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (INFO  [alembic....PostgresqlImpl.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Will assume transactional DDL.
LOADED .env.local: C:\Users\werne\Trueque\trueque_web\.env.local DATABASE_URL= postgresql://trueque_test:testpass@localhost:5432/trueque_test
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

INFO  [alembic.runtime.migration] Running upgrade  -> 25a2339a628f
-- Running upgrade  -> 25a2339a628f

Traceback (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\werne\Trueque\trueque_web\venv\Lib\site-packages\alembic\__main__.py", line 4, in <module>
    main(prog="alembic")
    ~~~~^^^^^^^^^^^^^^^^
  File "C:\Users\werne\Trueque\trueque_web\venv\Lib\site-packages\alembic\config.py", line 1022, in main
    CommandLine(prog=prog).main(argv=argv)
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^
  File "C:\Users\werne\Trueque\trueque_web\venv\Lib\site-packages\alembic\config.py", line 1012, in main
    self.run_cmd(cfg, options)
    ~~~~~~~~~~~~^^^^^^^^^^^^^^
  File "C:\Users\werne\Trueque\trueque_web\venv\Lib\site-packages\alembic\config.py", line 946, in run_cmd
    fn(
    ~~^
        config,
        ^^^^^^^
        *[getattr(options, k, None) for k in positional],
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        **{k: getattr(options, k, None) for k in kwarg},
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "C:\Users\werne\Trueque\trueque_web\venv\Lib\site-packages\alembic\command.py", line 483, in upgrade
    script.run_env()
    ~~~~~~~~~~~~~~^^
  File "C:\Users\werne\Trueque\trueque_web\venv\Lib\site-packages\alembic\script\base.py", line 549, in run_env
    util.load_python_file(self.dir, "env.py")
    ~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\werne\Trueque\trueque_web\venv\Lib\site-packages\alembic\util\pyfiles.py", line 116, in load_python_file
    module = load_module_py(module_id, path)
  File "C:\Users\werne\Trueque\trueque_web\venv\Lib\site-packages\alembic\util\pyfiles.py", line 136, in load_module_py
    spec.loader.exec_module(module)  # type: ignore
    ~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^
  File "<frozen importlib._bootstrap_external>", line 762, in exec_module
  File "<frozen importlib._bootstrap>", line 491, in _call_with_frames_removed
  File "C:\Users\werne\Trueque\trueque_web\alembic\env.py", line 88, in <module>
    run_migrations_offline()
    ~~~~~~~~~~~~~~~~~~~~~~^^
  File "C:\Users\werne\Trueque\trueque_web\alembic\env.py", line 55, in run_migrations_offline
    context.run_migrations()
    ~~~~~~~~~~~~~~~~~~~~~~^^
  File "<string>", line 8, in run_migrations
  File "C:\Users\werne\Trueque\trueque_web\venv\Lib\site-packages\alembic\runtime\environment.py", line 946, in run_migrations
    self.get_context().run_migrations(**kw)
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^
  File "C:\Users\werne\Trueque\trueque_web\venv\Lib\site-packages\alembic\runtime\migration.py", line 627, in run_migrations
    step.migration_fn(**kw)
    ~~~~~~~~~~~~~~~~~^^^^^^
  File "C:\Users\werne\Trueque\trueque_web\alembic\versions\25a2339a628f_initial_schema.py", line 77, in upgrade
    inspector = inspect(bind)
  File "C:\Users\werne\Trueque\trueque_web\venv\Lib\site-packages\sqlalchemy\inspection.py", line 147, in inspect
    raise exc.NoInspectionAvailable(
    ...<2 lines>...
    )
sqlalchemy.exc.NoInspectionAvailable: No inspection system is available for object of type <class 
'sqlalchemy.engine.mock.MockConnection'>
