python : INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
At line:1 char:1
+ python -m alembic upgrade --sql head > .\tmp\upgrade_preview_full.sql ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (INFO  [alembic....PostgresqlImpl.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Will assume transactional DDL.
LOADED .env.local: C:\Users\werne\Trueque\trueque_web\.env.local DATABASE_URL= postgresql://trueque_test:testpass@localhost:5432/trueque_test
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

INFO  [alembic.runtime.migration] Running upgrade  -> 25a2339a628f, initial_schema
-- Running upgrade  -> 25a2339a628f

CREATE TABLE users (
    id SERIAL NOT NULL, 
    email VARCHAR(320) NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE TABLE offers (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    title VARCHAR NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE TABLE advances (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    uuid VARCHAR NOT NULL, 
    country VARCHAR NOT NULL, 
    currency_from VARCHAR NOT NULL, 
    currency_to VARCHAR NOT NULL, 
    amount_from FLOAT NOT NULL, 
    amount_to FLOAT NOT NULL, 
    amount FLOAT NOT NULL, 
    market_rate FLOAT NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    CONSTRAINT advances_pkey PRIMARY KEY (id), 
    CONSTRAINT advances_uuid_key UNIQUE (uuid)
);

INSERT INTO alembic_version (version_num) VALUES ('25a2339a628f') RETURNING alembic_version.version_num;

INFO  [alembic.runtime.migration] Running upgrade 25a2339a628f -> d50f87988108, save_schema_changes_from_oct_23_24
-- Running upgrade 25a2339a628f -> d50f87988108

UPDATE alembic_version SET version_num='d50f87988108' WHERE alembic_version.version_num = '25a2339a628f';

INFO  [alembic.runtime.migration] Running upgrade d50f87988108 -> 91f1fe8b5cec, bootstrap ORM models
-- Running upgrade d50f87988108 -> 91f1fe8b5cec

UPDATE alembic_version SET version_num='91f1fe8b5cec' WHERE alembic_version.version_num = 'd50f87988108';

INFO  [alembic.runtime.migration] Running upgrade 91f1fe8b5cec -> 1ce288b0d18e, bootstrap ORM models
-- Running upgrade 91f1fe8b5cec -> 1ce288b0d18e

UPDATE alembic_version SET version_num='1ce288b0d18e' WHERE alembic_version.version_num = '91f1fe8b5cec';

INFO  [alembic.runtime.migration] Running upgrade 1ce288b0d18e -> 832810d51e20, bootstrap ORM models
-- Running upgrade 1ce288b0d18e -> 832810d51e20

UPDATE alembic_version SET version_num='832810d51e20' WHERE alembic_version.version_num = '1ce288b0d18e';

-- Running upgrade 25a2339a628f, d50f87988108 -> 1e9cb683b43b

INFO  [alembic.runtime.migration] Running upgrade 25a2339a628f, d50f87988108 -> 1e9cb683b43b, merge heads
INSERT INTO alembic_version (version_num) VALUES ('1e9cb683b43b') RETURNING alembic_version.version_num;

INFO  [alembic.runtime.migration] Running upgrade 1e9cb683b43b -> a265b9f1c3d2, create beneficiaries table
-- Running upgrade 1e9cb683b43b -> a265b9f1c3d2

CREATE TABLE beneficiaries (
    id BIGSERIAL NOT NULL, 
    owner_id BIGINT NOT NULL, 
    name VARCHAR(200) NOT NULL, 
    phone_country_code VARCHAR(8), 
    phone_national VARCHAR(32), 
    phone_e164 VARCHAR(32), 
    metadata JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

UPDATE alembic_version SET version_num='a265b9f1c3d2' WHERE alembic_version.version_num = '1e9cb683b43b';

INFO  [alembic.runtime.migration] Running upgrade 1e9cb683b43b, 832810d51e20 -> 7b97fb111f32, merge final heads
-- Running upgrade 1e9cb683b43b, 832810d51e20 -> 7b97fb111f32

UPDATE alembic_version SET version_num='7b97fb111f32' WHERE alembic_version.version_num = '832810d51e20';

INFO  [alembic.runtime.migration] Running upgrade 7b97fb111f32, a265b9f1c3d2 -> d83fb05588c6, merge beneficiaries into unified head
-- Running upgrade 7b97fb111f32, a265b9f1c3d2 -> d83fb05588c6

DELETE FROM alembic_version WHERE alembic_version.version_num = '7b97fb111f32';

UPDATE alembic_version SET version_num='d83fb05588c6' WHERE alembic_version.version_num = 'a265b9f1c3d2';

INFO  [alembic.runtime.migration] Running upgrade 25a2339a628f -> df88aff11ce5, create_advances_table
-- Running upgrade 25a2339a628f -> df88aff11ce5

INSERT INTO alembic_version (version_num) VALUES ('df88aff11ce5') RETURNING alembic_version.version_num;

INFO  [alembic.runtime.migration] Running upgrade df88aff11ce5 -> dd245b139879, create_advances_table
-- Running upgrade df88aff11ce5 -> dd245b139879

UPDATE alembic_version SET version_num='dd245b139879' WHERE alembic_version.version_num = 'df88aff11ce5';

INFO  [alembic.runtime.migration] Running upgrade dd245b139879 -> 8812e1604a8c, add_created_at_to_advance
-- Running upgrade dd245b139879 -> 8812e1604a8c

UPDATE alembic_version SET version_num='8812e1604a8c' WHERE alembic_version.version_num = 'dd245b139879';

-- Running upgrade 8812e1604a8c, d83fb05588c6 -> merge_fix_20251120T203853

INFO  [alembic.runtime.migration] Running upgrade 8812e1604a8c, d83fb05588c6 -> merge_fix_20251120T203853, merge_fix
DELETE FROM alembic_version WHERE alembic_version.version_num = '8812e1604a8c';

UPDATE alembic_version SET version_num='merge_fix_20251120T203853' WHERE alembic_version.version_num = 'd83fb05588c6';

COMMIT;

