--
-- PostgreSQL database dump
--

\restrict bp3UilGFrTdLogtxI3H2Z5HnbbdLkEKfWx3tEbDQYK0yEUuh0pELqex2hOFk0xM

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: kyc_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.kyc_status AS ENUM (
    'not_submitted',
    'pending',
    'under_review',
    'verified',
    'flagged',
    'rejected'
);


ALTER TYPE public.kyc_status OWNER TO postgres;

--
-- Name: kyc_tier; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.kyc_tier AS ENUM (
    'none',
    'low',
    'medium',
    'high'
);


ALTER TYPE public.kyc_tier OWNER TO postgres;

--
-- Name: gen_kyc_submission_id(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.gen_kyc_submission_id() RETURNS text
    LANGUAGE plpgsql
    AS $$

BEGIN

  RETURN 'sub_' || to_char(now(), 'YYYYMMDDHH24MISS') || '_' || substr(md5(random()::text), 1, 8);

END;

$$;


ALTER FUNCTION public.gen_kyc_submission_id() OWNER TO postgres;

--
-- Name: kyc_upsert_user_status(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.kyc_upsert_user_status() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  -- Upsert user_kyc_status row for this submission

  INSERT INTO user_kyc_status (user_id, kyc_tier, kyc_status, last_submission_id, last_updated)

    VALUES (NEW.user_id, 'low', NEW.status, NEW.id, now())

  ON CONFLICT (user_id) DO UPDATE

    SET kyc_status = EXCLUDED.kyc_status,

        last_submission_id = EXCLUDED.last_submission_id,

        last_updated = EXCLUDED.last_updated;

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.kyc_upsert_user_status() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: advances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.advances (
    id integer NOT NULL,
    user_id integer NOT NULL,
    uuid text NOT NULL,
    country text NOT NULL,
    currency_from text NOT NULL,
    currency_to text NOT NULL,
    amount_from double precision NOT NULL,
    amount_to double precision NOT NULL,
    amount double precision NOT NULL,
    market_rate double precision NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.advances OWNER TO postgres;

--
-- Name: advances_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.advances_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.advances_id_seq OWNER TO postgres;

--
-- Name: advances_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.advances_id_seq OWNED BY public.advances.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: kyc_audit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kyc_audit (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    action text NOT NULL,
    payload jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.kyc_audit OWNER TO postgres;

--
-- Name: kyc_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.kyc_audit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kyc_audit_id_seq OWNER TO postgres;

--
-- Name: kyc_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.kyc_audit_id_seq OWNED BY public.kyc_audit.id;


--
-- Name: kyc_audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kyc_audit_logs (
    id bigint NOT NULL,
    submission_id text,
    user_id uuid,
    event_type text NOT NULL,
    payload jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.kyc_audit_logs OWNER TO postgres;

--
-- Name: TABLE kyc_audit_logs; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.kyc_audit_logs IS 'Legacy audit table ΓÇö unused as of 2025-10-23. Safe to drop after schema cleanup.';


--
-- Name: kyc_audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.kyc_audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kyc_audit_logs_id_seq OWNER TO postgres;

--
-- Name: kyc_audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.kyc_audit_logs_id_seq OWNED BY public.kyc_audit_logs.id;


--
-- Name: kyc_files; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kyc_files (
    id text NOT NULL,
    submission_id text NOT NULL,
    logical_name text NOT NULL,
    storage_key text NOT NULL,
    content_type text,
    size_bytes bigint,
    uploaded_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.kyc_files OWNER TO postgres;

--
-- Name: recipient_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recipient_profiles (
    id integer NOT NULL,
    sender_name text,
    sender_email text,
    origin_country text,
    origin_type text,
    origin_details json,
    recipient_name text,
    relationship text,
    destination_country text,
    destination_type text,
    destination_details json,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.recipient_profiles OWNER TO postgres;

--
-- Name: recipient_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recipient_profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipient_profiles_id_seq OWNER TO postgres;

--
-- Name: recipient_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.recipient_profiles_id_seq OWNED BY public.recipient_profiles.id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    tx_id text NOT NULL,
    user_id text NOT NULL,
    from_currency text NOT NULL,
    to_currency text NOT NULL,
    amount double precision NOT NULL,
    rate double precision NOT NULL,
    "timestamp" timestamp without time zone,
    status text
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: trueque_sequences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trueque_sequences (
    day character varying NOT NULL,
    country character varying NOT NULL,
    last_seq integer NOT NULL
);


ALTER TABLE public.trueque_sequences OWNER TO postgres;

--
-- Name: user_kyc_status; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_kyc_status (
    user_id uuid NOT NULL,
    kyc_tier public.kyc_tier DEFAULT 'none'::public.kyc_tier NOT NULL,
    kyc_status public.kyc_status DEFAULT 'not_submitted'::public.kyc_status NOT NULL,
    last_submission_id text,
    last_updated timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_kyc_status OWNER TO postgres;

--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_profiles (
    user_id uuid NOT NULL,
    full_name text,
    phone_number text,
    country text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone
);


ALTER TABLE public.user_profiles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email text NOT NULL,
    full_name text,
    created_at timestamp with time zone DEFAULT now(),
    kyc_status text,
    trueque_id text,
    kyc_verified_at timestamp without time zone,
    phone_number text,
    phone_verified boolean DEFAULT false
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: advances id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.advances ALTER COLUMN id SET DEFAULT nextval('public.advances_id_seq'::regclass);


--
-- Name: kyc_audit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc_audit ALTER COLUMN id SET DEFAULT nextval('public.kyc_audit_id_seq'::regclass);


--
-- Name: kyc_audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc_audit_logs ALTER COLUMN id SET DEFAULT nextval('public.kyc_audit_logs_id_seq'::regclass);


--
-- Name: recipient_profiles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipient_profiles ALTER COLUMN id SET DEFAULT nextval('public.recipient_profiles_id_seq'::regclass);


--
-- Name: advances advances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.advances
    ADD CONSTRAINT advances_pkey PRIMARY KEY (id);


--
-- Name: advances advances_uuid_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.advances
    ADD CONSTRAINT advances_uuid_key UNIQUE (uuid);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: kyc_audit_logs kyc_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc_audit_logs
    ADD CONSTRAINT kyc_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: kyc_audit kyc_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc_audit
    ADD CONSTRAINT kyc_audit_pkey PRIMARY KEY (id);


--
-- Name: kyc_files kyc_files_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc_files
    ADD CONSTRAINT kyc_files_pkey PRIMARY KEY (id);


--
-- Name: recipient_profiles recipient_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipient_profiles
    ADD CONSTRAINT recipient_profiles_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (tx_id);


--
-- Name: trueque_sequences trueque_sequences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trueque_sequences
    ADD CONSTRAINT trueque_sequences_pkey PRIMARY KEY (day, country);


--
-- Name: user_kyc_status user_kyc_status_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_kyc_status
    ADD CONSTRAINT user_kyc_status_pkey PRIMARY KEY (user_id);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_trueque_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_trueque_id_key UNIQUE (trueque_id);


--
-- Name: idx_kyc_audit_event_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kyc_audit_event_type ON public.kyc_audit_logs USING btree (event_type);


--
-- Name: idx_kyc_audit_submission; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kyc_audit_submission ON public.kyc_audit_logs USING btree (submission_id);


--
-- Name: idx_kyc_audit_submission_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kyc_audit_submission_id ON public.kyc_audit_logs USING btree (submission_id);


--
-- Name: idx_kyc_audit_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kyc_audit_user ON public.kyc_audit_logs USING btree (user_id);


--
-- Name: idx_kyc_audit_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kyc_audit_user_id ON public.kyc_audit_logs USING btree (user_id);


--
-- Name: idx_kyc_files_logical_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kyc_files_logical_name ON public.kyc_files USING btree (logical_name);


--
-- Name: idx_kyc_files_submission; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kyc_files_submission ON public.kyc_files USING btree (submission_id);


--
-- Name: idx_kyc_files_submission_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kyc_files_submission_id ON public.kyc_files USING btree (submission_id);


--
-- Name: idx_user_kyc_status_tier; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_kyc_status_tier ON public.user_kyc_status USING btree (kyc_tier);


--
-- Name: ix_advances_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_advances_id ON public.advances USING btree (id);


--
-- Name: user_profiles user_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO trueque_admin;


--
-- Name: TABLE alembic_version; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.alembic_version TO trueque_admin;


--
-- PostgreSQL database dump complete
--

\unrestrict bp3UilGFrTdLogtxI3H2Z5HnbbdLkEKfWx3tEbDQYK0yEUuh0pELqex2hOFk0xM

